
html {
    background-color: #f5f5dc;
}

head {
    color: #4B2E83;
}

body {
    color: #4B2E83;
    font-family: 'Roboto';
}
nav {
    text-align: center;
}

nav a {
    padding: 5px;
    margin: 20px;
}

nav li {
    display: inline;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 35px;
}

p {
    font-size: 25px;
}


#intro-container {
    text-align: center;
    padding: 20px;
}

#intro-image {
    width: 50%;
    height: auto;
    padding: 30px;

}

#scroll-text {
    font-size: 20px;
}






#nav_bar ul li a.active-page {

    background-color: #CBC3E3;
    font-weight: bold;

}

#scroll-container {
    white-space: nowrap;
    overflow: hidden;
  }

  #scroll-text {
    /* animation properties */
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    
    -moz-animation: my-animation 30s linear infinite;
    -webkit-animation: my-animation 30s linear infinite;
    animation:  my-animation 30s linear infinite;
  }
  
  /* for Firefox */
  @-moz-keyframes my-animation {
    from { -moz-transform: translateX(100%); }
    to { -moz-transform: translateX(-100%); }
  }
  
  /* for Chrome */
  @-webkit-keyframes my-animation {
    from { -webkit-transform: translateX(100%); }
    to { -webkit-transform: translateX(-100%); }
  }
  
  @keyframes my-animation {
    from {
      -moz-transform: translateX(100%);
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
    }
    to {
      -moz-transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
    }
  }

.portfolio {
    text-align: center;
}