
html {
    background-color: #f5f5dc;
}

header {
    margin-top: 20px;
    margin-left: 20px;
}

head {
    color: #4B2E83;
}

body {
    color: #4B2E83;
    font-family: 'DM Sans';
    
}
nav {
    text-align: right;
}

nav a {
    padding: 5px;
    margin: 20px;
}

nav li {
    display: inline;
}

h1 {
    font-size: 50px;
    font-family: 'Playfair Display';
    font-style: italic;
}

h2 {
    font-size: 35px;
    font-family: 'Playfair Display';
    font-style: italic;
    color: #6D965A;
}

h3 {
    font-size: 30px;
}

p {
    font-size: 25px;
}

img {
    border-radius: 12%;
}


#intro-container {
    text-align: center;
    padding: 20px;
}

#intro-image {
    width: 50%;
    height: auto;
    padding: 30px;

}

#intro-description {
    color: #6D965A;
}

#scroll-text {
    font-size: 20px;
}

#portfolio-title {
    margin-left: 10px;
}






#nav_bar ul li a.active-page {

    background-color: #CBC3E3;
    font-weight: bold;

}

#scroll-container {
    white-space: nowrap;
    overflow: hidden;
  }

  #scroll-text {
    /* animation properties */
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    
    -moz-animation: my-animation 30s linear infinite;
    -webkit-animation: my-animation 30s linear infinite;
    animation:  my-animation 30s linear infinite;
  }
  
  /* for Firefox */
  @-moz-keyframes my-animation {
    from { -moz-transform: translateX(100%); }
    to { -moz-transform: translateX(-100%); }
  }
  
  /* for Chrome */
  @-webkit-keyframes my-animation {
    from { -webkit-transform: translateX(100%); }
    to { -webkit-transform: translateX(-100%); }
  }
  
  @keyframes my-animation {
    from {
      -moz-transform: translateX(100%);
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
    }
    to {
      -moz-transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
    }
  }

.portfolio {
    text-align: center;
}

.portfolio-1 {
    margin:20px;
}

.portfolio-2 {
    margin:20px;
}

.portfolio-3 {
    margin:20px;
}

.portfolio-4 {
    margin:20px;
}

#yelp-img {
    margin: 15px;
}

#description-container {
    text-align: center;
}

#links {
    text-decoration: underline;
}

#about-paragraph {
    margin: 20px;
    text-align: center;
}

#likes-container {
    font-size: 15px;
    margin: 30px;
    border: 5px solid;
}

#likes {
    font-size: 15px;
    margin: 10px;
    color: #6D965A;
}

footer {
    bottom: 0;
    right: 0;
    text-align: center;
    padding: 10px;
}

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

footer li {
    display: inline-block;
    margin-right: 10px;
}

footer a {
    text-decoration: none;
}

@media screen and (min-width: 600px) {
    .portfolio {
        display: grid;
        gap: 5px;
        grid-template-columns: 1fr 1fr;
    }

    #intro-image {
        width: 30%
    }
}

@media screen and (min-width: 1250px) {
    .portfolio {
        display: grid;
        gap: 5px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    #intro-image {
        width: 30%
    }
}